<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Personal Portfolio</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<div class="parent-1">
        <div class="name-list-logos">
            <div class="name-list">
                <div class="name">
                <img src="" width="24px" height="20px">
                <h3>Rohail</h3>
                </div>
                <div class="list">
                    <li style="color: aliceblue;">Home</li>
                    <li>Portfolio</li>
                    <li>Testinomial</li>
                    <li>About</li>
                </div>
            </div>
            <div class="logos">
                <img src="./icons8-internet-24.png" width="23px" height="23px">
                <img src="./icons8-linkedin-2-24.png" width="23px" height="23px">
                <img src="./align-left.png" width="23px" height="23px">
            </div>
        </div>

        <div class="left-right">

            <div class="left">
                <div class="heading"><h2>I'm</h2></div>
                <div class="name-2"><h1>Muhammad Rohail Khan</h1></div>
                <div class="line"></div>
                <div class="content">A Freelancer who provides<br>
                     services for digital progamming<br>
                     and design content needs,for<br>
                     all businesses with more than <br>
                     10 years of experirence
                     </div>


            </div>
            <div class="righ">      
                <div class="services">Services</div>
                <div class="para">Let's build quality products in<br>
                     programming and design<br>
                      with my services</div>
                <div class="showmore"><p class="show">show more</p><img src="./icons8-right-24.png"
                     width="17px" height="17px" class="arrow"></div>
                <div class="social">
                   <div class="icons"><img src="./icons8-facebook-f-50.png" height="22px" width="22px" class="facebook"></div>
                   <div class="icons"><img src="./icons8-twitter-50.png"  height="21px" width="21px" class="twitter"></div>
                   <div class="icons"><img src="./icons8-instagram-50.png" height="21px" width="21px" class="instagram"></div>
                   <div class="icons"><img src="./icons8-pinterest-50.png" height="19px" width="19px"class="pinterest"></div>
                </div>


            </div>

        </div>


        <div class="circle-img  ">    
            <div class="circle"></div>
            <img class="profile-photo" src="./WhatsApp_Image_2023-02-21_at_11.14.54_PM-removebg-preview.png">

        </div>

        <div class="icons-header">

            <div class="boxes"><img src="./icons8-meta-50.png" class="image-1"><p class="meta">Meta</p></div>
            <div class="boxes"><img src="./googlepng.png" class="google"></div>
            <div class="boxes"><p class="linked">Linked</p><img src="./icons8-linkedin-24.png" class="image-3"></div>
            <div class="boxes"><img src="./icons8-slack-new-50.png" class="image-4"><p class="Slack">slack</p></div>
        </div>
    </div>
    <div class="parent-2">
        <div class="middle-content">

            <div class="box">
                <div class="first">What Can I Do For</div>
                <div class="second">Your Needs</div>
                <div class="third">It is easier to entrust the work to the<br>
                     experts because they are able to provide<br>
                     the best results with reliable quality
                </div>
                <div class="fourth"><p class="twofifty">250+</p><p class="hundred">100+</p></div>
                <div class="fifth"><p>Project Completed</p><p class="community">Community Network</p></div>
                <div class="sixth"><p style="color: #B39144;">30+</p><p class="ten">10+</p></div>
                <div class="seventh"><p>Contract Remote</p><p class="years">Years Experience</p></div>
            </div>
            <div class="box">
                <div class="projects">
                    <div><img src="./download (1).jpeg" height="110px" width="140px" class="picture-1"></div>
                    <div class="ui-ux">UI/UX Design<img src="./icons8-right-24.png" class="arrow-1">
                    <br> <p class="para-inside">117 Project</p><br>
                        <p class="slim-line"></p>
                    </div>
                       
                </div>
                <div class="projects">
                    <div><img src="./download.jpeg"height="100%" width="55%" class="picture-2"> </div>
                    <div class="ui-ux-2">Front End<img src="./icons8-right-24.png" class="arrow-2">
                    <p class="para-inside">84 Project</p>
                    </div>
                    <div class="line-3"></div>
                </div>
                <div class="projects">
                    <div><img src="./th.jpeg" height="110px" width="140px">     </div>
                    <div class="ui-ux-3">Mobile App Develop<br>
                         <p class="para-inside-2">32 Projects</p></div>
                    <div><img src="./icons8-right-24.png" class="arrow-3"></div>
                    <div class="line-3"></div>

                </div>    
            </div>
        </div>

        <div class="last-content">

            <div class="last-childs">
                <div><img src="./icons8-design-80.png" height="30px" width="30px" class="icon-I"></div>
                <div class="design">UI/UX Design</div>
                <div class="icon-content-I">Create a beautiful and useful<br>
                     ui display for ease of use of<br>
                     the application for users</div>
            </div>
            <div class="last-childs">
                <div><img src="./icons8-computer-80.png"height="25px" width="25px" class="icon-II"></div>
                <div class="design-II">Web Programming</div>
                <div class="icon-content-II">Build a Quality website with the<br>
                     best technology and optimization<br>
                     on search engines</div>
            </div>
            <div class="last-childs">
                
                <div><img src="./icons8-responsive-design-80.png"height="25px" width="25px" class="icon-III"></div>
                <div class="mobile">Mobile Development</div>
                <div class="icon-content-III">Create an app from your own<br>
                     business for a more professional<br>
                     business performance</div>
                
            </div>

            <div class="footer"></div>

        </div>

    </div>
        
        

    
</body>
</html>